@use '../tokens/responsive' as *;

.vb-sr-only {
  position: absolute;
  width: rem(1);
  height: rem(1);
  margin: calc(-1 * #{rem(1)});
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
